body{
    margin:0;
    background-color: #FFF8D4;
    font-family: Arial,sans-serif;
}

header{
    background-color: white;
    padding: 1rem 2rem;
}

nav a {
    padding: 0.5em 1em;
    display:inline-block;
    background-color: #84994F;
    color: white;
    text-decoration: underline;
    margin-right: 0.2rem;
}

nav a:hover{
    opacity: 0.85;
}

.active{
    text-decoration: underline;
}


#heroText{
    text-align: center;
    font-size: 2em;
    margin-top: 2rem;
}

.content{
    width: 90%;
    margin: 2rem auto;
}
.course-section{
    width: 90%;
    margin-bottom: 2rem;
}

.course-section h2{
    font-size: 1.6em;
    margin-top: 2rem;
}

.course-section p{
    font-size: 1.15em;
    line-height: 1.6;
    margin-top: 0.5rem;
}

.site-footer{
    text-align: center;
    padding: 1rem;
    background-color: white;
    margin-top: 4rem;
}

.site-footer p{
    margin: 4px 0;
}
