
@media screen and (min-width: 992px) {
    #pageImage {
        height: 100vh;
        width: 100vw;
    }
}
@media screen and (min-width: 768px) {
    #pageImage {
        height: auto;
        width: 100vw;
        z-index: -1;
    }

    #pageImage {
        position: absolute;
    }
}
h3
{
    text-align: center;
    background-color: #84994F;
    color: white;
    padding: 1em 2em;
}