
@media screen and (min-width: 992px) {
    #pageImage {
        height: 100vh;
        width: 100vw;
    }
}
@media screen and (min-width: 768px) {
    #pageImage {
        height: auto;
        width: 100vw;
        z-index: -1;

    }

    #pageImage {
        position: absolute;


    }
}