
@media screen and (min-width: 992px) {
    #pageImage {
        height: 100vh;
        width: 100vw;
    }
}
@media screen and (min-width: 768px) {
    #pageImage {
        height: 100vh;
        width: 100vw;
    }

    #pageImage {
        position: absolute;
        z-index: -1;
        bottom: 7rem;

    }
}