#title {
    text-align: center;
    font-size: 2em;
}

#bookingBar {
    position: fixed;
    right: 0;
}

nav * {
    padding: 0.5em 1em;
    display: inline-block;
    background-color: #84994F;
    color: white;
}

#golfVideo {

}

#overlayElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    bottom: 10rem;

    background-color: #F7F7F7;
    width: 75%;
}