#title {
    text-align: center;
    font-size: 2em;
}

#bookingBar {
    position: fixed;
    right: 0;
}

nav * {
    padding: 0.5em 1em;
    display: inline-block;
    background-color: #84994F;
    color: white;
}
#golfHeader
{
}