body{
    margin:0;
    padding: 0;
    background-color: #FFF8D4;
    font-family: Georgia,serif;
}

#title{
    font-size: 2.3em;
    padding: 10px;
    display: block;
    text-align: center;
}

nav{
    background-color: #84994F;
    padding: 10px 0;
    text-align: left;
}

nav a {
    padding: 10px 20px;
    color: white;
    text-decoration: underline;

}