#title {
    text-align: center;
    font-size: 2em;
    color: white;

}

body {
    background-color: #37353E;
}

nav * {
    padding: 0.5em 1em;
    display: inline-block;
    background-color: #84994F;
    color: white;
}

p {
    color: white;
}
#overlayElement
{
    display: flex;

}
aside {
    background-color: #A9A9A9;
    padding: 20px;
    border: 5px solid black;
    position: relative;
    width: 100%;

}