#title {
    text-align: center;
    font-size: 2em;

}
aside {
    padding: 20px;
    position: relative;
    width: 100%;


}
ul
{
    position: relative;
    top: 0;

}
ul li{
    list-style: none;
    display: inline;
}
aside label, aside h2
{
}
@media screen and (min-width: 992px) {

    #overlayElement {
        position: absolute;
        bottom: 10rem;
    }
    #pageImage
    {
        height:100vh;
    }
}
@media screen and (min-width: 768px) {
    #overlayElement {
        top: 10rem;
    }
    #pageImage
    {
        height:100vh;
    }

}


.site-footer{
    text-align: center;
    padding: 1rem;
    margin-top: 4rem;
    bottom: 0;
}

.site-footer p{
    margin: 4px 0;
}
.site-footer *{
    color:black;
}
h3
{
    text-align: center;
    background-color: #84994F;
    box-shadow: #37353E 0.25em 0.25em 0.25em;
    color: white;
    padding: 1em 2em;
}
