#title {
    text-align: center;
    font-size: 2em;
    color: white;

}

body {
    background-color: #37353E;
}

nav * {
    padding: 0.5em 1em;
    display: inline-block;
    background-color: #84994F;
    color: white;
}

p {
    color: white;
}
#overlayElement
{
    display: flex;
    background-color:#37353E;

}
aside {
    background-color: #37353E;
    padding: 20px;
    border: 5px solid black;
    position: relative;
    width: 100%;

}
aside label, aside h2
{
    color: white;
}
@media screen and (min-width: 992px) {

    #overlayElement {
        position: absolute;
        bottom: 10rem;
    }
    #pageImage
    {
        height:100vh;
    }
}

